<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/plantilla1 ::head">
        <title>Dia Feriado</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="plantillas/plantilla1 ::nav">

        </header>
        <div class="container-lg p-20 bg-warning">

            <div class="container-lg" style="background-color: antiquewhite">


                <div class="card border-0 bg-warning" style="margin-top: 2%" >
                    <div class="card-header"> <h1>Cronograma</h1></div>
                </div>
                <div th:if="${ msg != null and !msg.empty}">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Mensaje:</strong> 
                        <p th:text="${msg}"></p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <span th:attr="msg=@{null}"></span>
                    </div>
                </div>

                <form th:action="@{/seleccionarCronograma}"  method="post" th:object="${programaFecha}">
                    <div class="card border-0 bg-light" style="margin-top: 2%" >
                        <div class="card-header"> <h5>Seleccione un programa</h5></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <input type="hidden" id="IdPrograma" name="idPrograma" th:field="*{programa.idPrograma}"/>
                                    <input type="hidden" id="IdPrograma2" th:field="*{idPro}"/>

                                    <label for="codigo" class="form-label">Código de referencia</label>
                                    <input id="Codigo" type="text" class="form-control" name="codigo" th:field="*{programa.codigo}" readonly="true" />
                                </div>
                                <div class="col-8">
                                    <label for="nombrePrograma" class="form-label">Nombre del programa</label>
                                    <div class="input-group mb-3">
                                        <a id="btnBuscarPrograma" class="btn btn-warning " data-bs-toggle="modal" data-bs-target="#modalProgramas"><i class="fas fa-search"></i>Buscar Programa</a>
                                        <input required="true" type="text" name="nombrePrograma" th:field="*{programa.nombrePrograma}" 
                                               readonly="true" class="form-control"  id="namePro" />
                                    </div>
                                </div>                             
                                <div class="col-2">
                                    <label for="fecha" class="form-label">Fecha de inicio</label>
                                    <input  type="date" class="form-control" name="fecha" th:field="*{fechaInicio}"  />
                                    <input  type="date" class="form-control" name="fechaM" th:field="*{fechaInicioM}"  />






                                </div>
                            </div>
                        </div>
                        <div class="card-footer" > </div>
                    </div>





                    <div class="row">
                        <div class="col-3">
                            <a th:href="@{/}" class="btn btn-warning w-100">Regresar</a>    
                        </div>
                        <div class="col-3">
                            <input type="submit" name="btnSeleccionar" class="btn btn-warning w-100" value="Seleccionar programa"/>
                        </div>
                        <div class="col-3">
                            <div th:if="${ programa != null}">
                                <a th:href="@{/agregarModulo}"  class="btn btn-warning w-100">Eliminar</a>    
                            </div> 

                        </div>
                        <div class="col-3">
                            <div th:if="${ programa != null}">

                                <a th:href="@{/agregarModulo(idPro=${programaFecha.idPro}, fecha=${programaFecha.fechaInicio}) }"  class="btn btn-warning w-100">Añadir modulo</a>                                </div>
                        </div>




                    </div>

                </form>


                <div th:if="${cronogramas == null }" class="card" style="margin-top: 2%">
                    <div class="card-header">
                        <h3 class="text text-center">Nota:</h3>
                    </div>
                    <div class="card-body">
                        <h6 class="text text-center">Seleccione un programa para ver o crear cronogramas.</h6>
                    </div>
                </div>

                <div th:if="${cronogramas != null and cronogramas.empty}" class="card" style="margin-top: 2%">
                    <div class="card-header">
                        <h3 class="text text-center">Nota:</h3>
                    </div>
                    <div class="card-body">
                        <h6 class="text text-center">Para este programa no se han creado un cronograma.</h6>
                        <h6 class="text text-center">Precione añadir modulo para crear un cronograma nuevo.</h6>
                    </div>
                    <div class="card-footer" > </div>

                </div>
                <div th:if="${cronogramas != null and !cronogramas.empty}" class="card" style="margin-top: 2%">
                    <div class="card-header">
                        <h3 class="text text-center">Lista de módulos</h3>
                        <table class="table" id="TablaCronograma">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Módulo</th>
                                    <th>Horas por día</th>
                                    <th>Horas totales</th>
                                    <th>Horario</th>
                                    <th>Estado</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item:${cronogramas}">
                                    <td th:text="${item.modulo.codigo}"></td>
                                    <td th:text="${item.modulo.nombreModulo}"></td>
                                    <td th:text="${item.horasDia}"></td>
                                    <td th:text="${item.modulo.horasTotales}"></td>
                                    <td th:text="${item.horasInicio} + ' | '+${item.horaFin}"></td>
                                    <td th:text="${item.estado}"></td>
                                    <td th:text="${item.fechaInicio}"></td>
                                    <td th:text="${item.fechaFin}"></td>
                                    <td>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div>

                <section>
                    <div class="modal fade vh-100" id="modalProgramas" tabindex="-1" role="dialog"
                         aria-labelledby="programaModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <h5 class="modal-title" id="programaModalLabel" >Listado de Programas</h5>                                
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                                </div>
                                <div class="modal-body">
                                    <div th:if="${programas != null and !programas.empty}">
                                        <table class="table" id="TablaProgramas">
                                            <thead>
                                                <tr>

                                                    <th>Código</th>
                                                    <th>Programa</th>
                                                    <th>Horas por día</th>
                                                    <th>Hora de inicio</th>
                                                    <th>Hora de fin</th>
                                                    <th>Estado</th>
                                                    <th>Año</th>
                                                    <th>Centro</th>
                                                    <th>Grupo</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="item:${programas}">
                                                    <td th:text="${item.codigo}"></td>
                                                    <td th:text="${item.nombrePrograma}"></td>
                                                    <td th:text="${item.horasDia}"></td>
                                                    <td th:text="${item.horaInicio}"></td>
                                                    <td th:text="${item.horaFin}"></td>
                                                    <td th:text="${item.estado}"></td>
                                                    <td th:text="${item.anio}"></td>
                                                    <td th:text="${item.centro.nombre}"></td>
                                                    <td th:text="${item.grupo}"></td>
                                                    <td>
                                                        <a href="#" th:onclick="seleccionar([[${item.idPrograma}]],[[${item.codigo}]],[[${item.nombrePrograma}]])">Seleccionar</a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div th:if="${programas == null or programas.empty}">
                                        No hay programas con cronogramas en la base de datos
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button id="btnCerrar" type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                </div>                            
                            </div>

                        </div>


                    </div> <!--FIN MODAL-->
                </section>


                <script type="text/javascript">
                    function seleccionar(id, codigo, nombre) {
                        $("#IdPrograma").val(id);
                        $("#IdPrograma2").val(id);
                        $("#Codigo").val(codigo);
                        $("#namePro").val(nombre);
                        $("#btnCerrar").click();
                    }

                    $(document).ready(function () {
                        $("#TablaProgramas").DataTable({
                            "ordering": false,
                            "lengthMenu": [5, 10, 15],
                            "language": {"url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"}
                        });
                    });

                </script>



            </div>
        </div>

    </body>

</html>
