<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/plantilla1 ::head">
        <title>Dias Ausentes</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    </head>
    <body>
        <header th:replace="plantillas/plantilla1 ::nav"></header>
        <div class="container-lg p-20 bg-warning">
            <div class="container-lg" style="background-color: antiquewhite">
                <div class="card border-0 bg-warning" style="margin-top: 2%" >
                    <div class="card-header"> <h1>Lista de días Ausentes</h1></div>
                </div>

                <div th:if="${ msg != null and !msg.empty}">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Mensaje:</strong> 
                        <p th:text="${msg}"></p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <span th:attr="msg=@{null}"></span>
                    </div>
                </div>

                <form class="form" style="margin-top: 2%; margin-bottom: 2%" th:action="@{/filtrarAusentes}" method="post" th:object="${profesor}">
                    <div class="row">

                        <div class="col-10">
                            <label for="nombreProfesor" class="form-label">Nombre del profesor</label>
                            <div class="input-group mb-3">
                                <a id="btnBuscar" class="btn btn-warning " data-bs-toggle="modal" data-bs-target="#modalProfesores"><i class="fas fa-search"></i>Buscar profesor</a>
                                <input required="true" type="text" name="nombre" th:field="*{nombre}"   readonly="true" class="form-control"  id="nameP" placeholder="Precione buscar profesor"/>
                            </div>
                        </div>    
                        <div class="col-2">
                            <label for="idProfesor" class="form-label">Identificación</label>
                            <input id="IdProfesor" type="text" class="form-control" name="idProfesor" th:field="*{idProfesor}" readonly="true"/>

                        </div>

                    </div>
                    <div  class="col col-lg-2">
                        <button id="btnBusPro" style="display: none"  type="submit" name="btnBuscar" value="Buscar" class="btn btn-warning mx-auto"></button>
                    </div>
                    <div  class="col col-lg-2">
                        <a style="width: 150px" class="btn btn-warning mx-auto" th:href="@{/nuevoDiaAusente}"><i class="fas fa-user-plus"></i>Nuevo</a>
                    </div> 
                </form>




                <div th:if="${diasAusentes != null and !diasAusentes.empty}">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th style="visibility: hidden">ID</th>
                                <th>Fecha inicial</th>
                                <th>Fecha final</th>
                                <th>Profesor</th>
                                <th>Motivo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="dia:${diasAusentes}">
                                <td style="visibility: hidden" th:text="${dia.idDiaAusente}"></td>
                                <td th:text="${#dates.format(dia.fechaInicio,'dd/MM/yyyy')}"></td>
                                <td th:text="${#dates.format(dia.fechaFin,'dd/MM/yyyy')}"></td>
                                <td th:text="${dia.profesor.nombre + ' ' + dia.profesor.apellido1 + ' ' + dia.profesor.apellido2}"></td>
                                <td th:text="${dia.motivo.justificacion}"></td>
                                <td>
                                    <a th:href="@{/editarAusencia/} + ${dia.idDiaAusente}">
                                        <i class="fas fa-user-edit"></i> Editar</a> |
                                    <a data-bs-toggle="modal" data-bs-target="#modalEliminar" 
                                       th:href="@{/deleteDiaA/(idDiaAusente=${dia.idDiaAusente})}"
                                       id="deleteButton">
                                        <i class="fas fa-user-times"></i> Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div th:if="${diasAusentes == null or diasAusentes.empty}">
                    No hay dias de ausencia que mostrar
                </div>
            </div>
        </div>

        <section>
            <div class="modal" tabindex="-1" id="modalEliminar" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">¿Esta seguro de eliminar?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                            <a  href="" id="delRef" class="btn btn-primary">Eliminar</a>
                        </div>
                    </div>
                </div>

            </div>
        </section> <!--Fin modal eliminar -->
        <script type="text/javascript">
            $(document).ready(function () {
                $('.table #deleteButton').on('click', function (event) {
                    event.preventDefault();
                    var href = $(this).attr('href');
                    $('#modalEliminar #delRef').attr('href', href);
                    $('#modalEliminar').modal();

                });
            });

        </script>

        <section>
            <div class="modal fade vh-100" id="modalProfesores" tabindex="-1" role="dialog"
                 aria-labelledby="profesorModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content" >
                        <div class="modal-header">
                            <h5 class="modal-title" id="profesorModalLabel" >Listado de profesores</h5>                                
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        </div>
                        <div class="modal-body">
                            <div th:if="${listaPro != null and !listaPro.empty}">
                                <table class="table" id="TablaProfesores">
                                    <thead>
                                        <tr>

                                            <th>Identificación</th>
                                            <th>Nombre</th>
                                            <th>Primer apellido</th>
                                            <th>Segundo apellido</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item:${listaPro}">
                                            <td th:text="${item.idProfesor}"></td>
                                            <td th:text="${item.nombre}"></td>
                                            <td th:text="${item.apellido1}"></td>
                                            <td th:text="${item.apellido2}"></td>
                                            <td>
                                                <a href="#" th:onclick="seleccionP([[${item.idProfesor}]],[[${item.nombre}]],[[${item.apellido1}]],[[${item.apellido2}]] )">Seleccionar</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${listaPro == null or listaPro.empty}">
                                No hay profesores en la base de datos
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button id="btnCerrar2" type="button" class="btn btn-primary"
                                    data-bs-dismiss="modal">Cerrar</button>
                        </div>                            
                    </div>

                </div>


            </div> <!--FIN MODAL-->
        </section>
        <script type="text/javascript">
            function seleccionP(id, nombre, ape1, ape2) {
                $("#IdProfesor").val(id);
                $("#nameP").val(nombre + " " + ape1 + " " + ape2);
                $("#btnCerrar2").click();
                $("#btnBusPro").click();
            }

            $(document).ready(function () {
                $("#TablaProfesores").DataTable({
                    "ordering": false,
                    "lengthMenu": [5, 10, 15],
                    "language": {"url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"}
                });
            });
        </script>

    </body>

</html>
