<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/plantilla1 ::head">
        <title>Informacion del profesor</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="plantillas/plantilla1 ::nav">

        </header>
        <div class="container-lg p-20 bg-warning">
            <div class="container-lg" style="background-color: antiquewhite">
                <div class="card border-0 bg-warning" style="margin-top: 2%" >
                    <div class="card-header"> <h1>Datos del profesor</h1></div>
                </div>
                <div class="row">
                    <form th:action="@{/guardarProfesor}" method="post" th:object="${profesor}">
                        
                        <div class="form-group">
                            <label for="cedula" class="form-label">Cédula:</label>
                            <input type="number" name="cedula" class="form-control" th:field="*{cedula}" />
                            <span class="text-danger font-italic"
                                  th:if="${#fields.hasErrors('cedula')}"
                                  th:errors="*{cedula}"></span>
                        </div>

                        <div class="form-group">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" name="nombre" class="form-control" th:field="*{nombre}" />
                            <span class="text-danger font-italic"
                                  th:if="${#fields.hasErrors('nombre')}"
                                  th:errors="*{nombre}"></span>
                        </div>
                        
                        <div class="form-group">
                            <label for="apellido1" class="form-label">Primer apellido:</label>
                            <input type="text" name="apellido1" class="form-control" th:field="*{apellido1}" />
                            <span class="text-danger font-italic"
                                  th:if="${#fields.hasErrors('apellido1')}"
                                  th:errors="*{apellido1}"></span>
                        </div>
                        
                        <div class="form-group">
                            <label for="apellido2" class="form-label">Segundo apellido:</label>
                            <input type="text" name="apellido2" class="form-control" th:field="*{apellido2}" />
                            <span class="text-danger font-italic"
                                  th:if="${#fields.hasErrors('apellido2')}"
                                  th:errors="*{apellido2}"></span>
                        </div>
                        
                        <input type="hidden" id="IdCentro" name="idCentro" th:field="*{centro.idCentro}"/>
                        
                        <div class="form-group">
                            <label for="centro" class="form-label">Centro:</label>
                            <div class="input-group mb-3">
                                <a id="btnBuscarCentro" class="btn btn-warning " data-bs-toggle="modal" data-bs-target="#modalCentros"><i class="fas fa-search"></i>Buscar Centro</a>
                                <input required="true" id="NombreCentro" type="text" name="nombreCentro" th:field="*{centro.nombre}" 
                                       readonly="true" class="form-control"/>   
                            </div>

                        </div>

                        <div class="mt-2">
                            <input type="submit" name="btnGuardar" class="btn btn-primary" value="Guardar"/>
                            <a th:href="@{/profesores}" class="btn btn-warning">Regresar</a>
                        </div>

                    </form>    
                </div>
            </div>
        </div>
        <section>
                <div class="modal fade" id="modalCentros" tabindex="-1" role="dialog"
                     aria-labelledby="centroModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="motivoModalLabel" >Listado de Centros</h5>                                
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div th:if="${centros != null and !centros.empty}">
                                    <table class="table" id="TablaCentros">
                                        <thead>
                                            <tr>
                                                <th>Centro</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item:${centros}">
                                                <td th:text="${item.nombre}"></td>
                                                <td>
                                                    <a href="#" th:onclick="seleccionar([[${item.idCentro}]],[[${item.nombre}]])">Seleccionar</a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div th:if="${centros == null or centros.empty}">
                                    No hay centros en la base de datos
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button id="btnCerrar" type="button" class="btn btn-primary"
                                        data-bs-dismiss="modal">Cerrar</button>
                            </div>                            
                        </div>

                    </div>


                </div> <!--FIN MODAL-->
            </section>
        
        <script type="text/javascript">
            function seleccionar(id, nombre) {
                $("#IdCentro").val(id);
                $("#NombreCentro").val(nombre);
                $("#btnCerrar").click();
            }

            $(document).ready(function () {
                $("#TablaCentros").DataTable({
                    "ordering": false,
                    "lengthMenu": [5, 10, 15],
                    "language": {"url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"}
                })
            })

        </script>
    </body>
</html>
